In [9]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

from allen_v1dd.client import EMClient
import allen_v1dd.stimulus_analysis.analysis_tools as at

at.set_stylesheet()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
em_client = EMClient()

/opt/anaconda3/envs/allen_v1dd/lib/python3.10/site-packages/standard_transform/datasets.py:24: UserWarning: Optimal rotation is not uniquely or poorly defined for the given sets of vectors.
  rot, _ = R.align_vectors(np.array([[0, 1, 0]]), [up])

# See table names

In [11]:
em_client.get_tables()

['functional_coregistration_v1',
 'coregistration_landmarks',
 'manual_pilot_functional_coregistration_v1',
 'correspondance_pilot',
 'ariadne_multisoma_proofreading_v1',
 'ariadne_dendrite_proofreading_v2',
 'ariadne_axon_proofreading_v1',
 'synapses_v1dd',
 'multisoma_split_task',
 'ariadne_dendrite_task',
 'ophys_examples',
 'manual_central_types',
 'nucleus_detection_v0',
 'ariadne_axon_task']

In [16]:
em_client.query_table("coregistration_landmarks").drop_duplicates("pt_root_id")

     id_ref  ...          bb_end_position
0    276266  ...  [780423, 591312, 21369]
1    276140  ...  [817128, 602564, 20322]
2    290027  ...   [875716, 646486, 7998]
3    365414  ...  [935468, 640122, 12489]
4    365704  ...  [981330, 634846, 14206]
..      ...  ...                      ...
162  291956  ...  [819456, 630733, 18997]
163  279007  ...  [840175, 598374, 34915]
164  276453  ...  [764981, 588829, 22897]
165  276650  ...  [869430, 601167, 22727]
166  277304  ...  [859575, 603262, 26607]

[163 rows x 19 columns]

# Query table example: Plot soma positions

In [4]:
nucleus_df = em_client.query_table("nucleus_detection_v0")
nucleus_df["pt_position_microns"] = em_client.transform_position_to_microns(nucleus_df["pt_position"]) # Add a column mapping position to microns
nucleus_df

            id  ...                                pt_position_microns
0       228132  ...  [637.4001441732279, 531.6798639403521, 510.601...
1       543247  ...  [1309.7076748905974, 572.9044947755802, -180.9...
2       203262  ...  [627.5974959640572, 199.28872249700427, 131.24...
3       350562  ...  [897.0749802589321, 115.14175620165939, 29.457...
4       718122  ...  [1734.1115168756453, 464.7378351221714, 572.23...
...        ...  ...                                                ...
207450  527607  ...  [1266.9153050750815, 410.20931181865564, 539.5...
207451  168582  ...  [496.7042771516083, 655.4081290337385, -194.25...
207452   29422  ...  [304.4256843161546, 34.99271782807331, -32.224...
207453  422767  ...  [1068.2230214645483, 138.43003978714947, -109....
207454  474107  ...  [1148.878808630579, 736.460827417122, 149.7495...

[207455 rows x 11 columns]

In [5]:
nucleus_df.drop_duplicates("pt_root_id", inplace=True) # Drop duplicate pt_root_ids
len(nucleus_df)

155652

In [1]:
fig, ax = plt.subplots(figsize=(8, 6))

x_pos = nucleus_df.pt_position_microns.apply(lambda pos: pos[0])
y_pos = nucleus_df.pt_position_microns.apply(lambda pos: pos[1])
z_pos = nucleus_df.pt_position_microns.apply(lambda pos: pos[2])

# Normalize the y points
# q = 0.005
# y_min, y_max = np.quantile(y, [q, 1-q])
# y = (y - y_min) / (y_max - y_min) * y_max

fig.suptitle(f"Nucleus positions for EM cells ($n = {len(nucleus_df)}$)", fontsize=14)
ax.scatter(x_pos, y_pos, color="black", s=0.1, alpha=0.5)
ax.set_xlabel(f"$x$ (µm)", fontsize=14)
ax.set_ylabel("$y$ (cortical depth, µm)", fontsize=14)

ax.axis("equal")
ax.set_ylim(y_pos.min(), y_pos.max())
ax.invert_yaxis() # Open down

text_trans = mpl.transforms.blended_transform_factory(ax.transAxes, ax.transData)

for layer, (depth_min, depth_max) in em_client.layer_boundaries.items():
    ax.axhline(depth_max, xmin=0.02, xmax=0.98, color="red", linestyle="dashed")
    ax.text(1, depth_max, f"{depth_max} µm", ha="left", va="center", color="red", fontsize=10, transform=text_trans)
    text_depth = depth_max - 60 if np.isinf(depth_min) else (depth_min + depth_max) / 2
    ax.text(1, text_depth, f"L{layer}", ha="left", va="center", color="darkred", fontweight="bold", transform=text_trans)

NameError: name 'plt' is not defined

# Count cells with proofreading

In [12]:
axo_proof_df = em_client.get_axon_proofreading_table()
den_proof_df = em_client.get_dendrite_proofreading_table()

In [13]:
print("Axon:")
print(axo_proof_df.cell_type.value_counts())
print("\nDendrite:")
print(den_proof_df.cell_type.value_counts())

Axon:
submitted    808
clean         62
complete       9
Name: cell_type, dtype: int64

Dendrite:
submitted    2420
complete       13
Name: cell_type, dtype: int64